<ng-container *ngFor="let chore of choreList">
      <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="chore.isCompleted()"
                  [indeterminate]="chore.someCompleted() && !chore.isCompleted()"
                  (change)="chore.updateCompleted($event.checked)"
    >
      {{chore.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      <li *ngFor="let subchore of chore.subchores">
        <mat-checkbox
          [checked]="subchore.isCompleted()"
          (change)="this.updateCompletedSubchore(chore, subchore, $event.checked)"
        >
          {{subchore.name}}
        </mat-checkbox>
      </li>
    </ul>
  </span>
</ng-container>
